.breadcrumb-container {
    overflow: hidden;
    height: 30px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    padding: 5px;
    line-height: 28px;
    box-shadow: 0 1px 0 0 #eaeaea;
    color: #3c3c3c;
}

.breadcrumb-item {
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 10px;
}

.breadcrumb-item:hover {
    color: #161616;
}

.breadcrumb-item-separator {
    margin-right: 5px;
    margin-left: 5px;
}

.breadcrumb-item-dropdown-button {
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 22px;
}

.breadcrumb-item-dropdown-button:hover {
    color: #161616;
}